@inherits LayoutComponentBase

<NavBar />
<div class="p-4 text-color-black">
    @Body
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
